
  <ul>
      <li><img src="assets/img/logo.png" width="20%"  ></li>
  </ul>

   <ul>
      <li><a routerLink="/project">&lt;&lt;&lt;</a></li>
      <li  style="float:right"><a class="active" (click)="logout()">Log Out</a></li>
  </ul>



<div *ngIf="marked1">
<table class="table col-md-6 mx-auto">
    <th>{{ projects?.project_name }}</th>
    <tr>
      <td>Project Description</td>
      <td>{{ projects?.project_description }}</td>
    </tr>
    <tr>
        <td>Project Category</td>
        <td>{{ projects?.project_category }}</td>
      </tr>
    <div *ngIf="marked3">
    <tr>
      <td>Payment</td>
      <td>{{ projects?.payment }}</td>
    </tr>
    </div>


    <div *ngIf="marked4">
    <table>
        <th>Bid details</th>
        <tr>
          <td>{{ bids?.maximum_value }}</td>
      </tr>
      <tr>
          <td>{{ bids?.start_date }}</td>
      </tr>
    </table>
  </div>

     <button (click)="onClick( )">Edit project</button>
     <button (click)="deleteProject( )">Delete project</button>

</table>
</div>


<div *ngIf="marked2">
    <div class="background">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <div class="row" style="margin-top: 100px;box-shadow: -1px 1px 25px 10px rgb(77, 47, 47);">
                <div class="col-md-12">
                  <form>
                  <label class="label control-label">Project Name</label>
                  <input type="text" class="form-control" name="project_name" placeholder="Enter suitable project name" [(ngModel)]="credentials.project_name">
                  <label class="label control-label">Project Category</label>
                  <select class="form-control" name="project_category" [(ngModel)]="credentials.project_category">
                    <option>Web development,IT & Software Skills</option>
                    <option>Designing , Photo editing and Video editing</option>
                    <option>Content writing</option>
                    <option>Data Entry</option>
                    <option>Other project</option>
                  </select>
                  <label class="label control-label">Project Description</label>
                  <textarea rows="8" cols="50" name="project_description" [(ngModel)]="credentials.project_description"></textarea>

                <button (click)="EditProject()" class="btn btn-info">Confirm</button>
                <button (click)="CancleEditProject()" class="btn btn-info">Cancle</button>
    
                  <br><br>
                </form>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
  </div>

  <br><br>


  <div *ngIf="marked3">
    <b>Project Requests</b><br><br>

    <div *ngFor="let proReq of projectRequest">
        {{ proReq?.user.first_name }} {{ proReq?.user.last_name }}
        <button *ngIf="!proReq?.isAccepted" (click)="AcceptProReq(proReq.user.id, 'fixed')">Accept</button>
        <div *ngIf="proReq?.isAccepted"><b>Accepted</b>
          <button>Pay for the service</button></div>
        <br>
    </div>
  </div>


  <div *ngIf="marked4">
      <b>Bid Responses</b><br><br>

    <div *ngFor="let bidReq of bidRequest">
        {{ bidReq?.user.first_name }} {{ bidReq?.user.last_name }}
        {{ bidReq?.bid_value }}
        <button *ngIf="!bidReq?.isAccepted" (click)="AcceptBidReq(bidReq.user.id, 'bid')">Accept</button>
        <div *ngIf="bidReq?.isAccepted"><b>Accepted</b>
        <button>Pay for the service</button></div>
        <br>
    </div>
  </div>



  <br><br>
  <b>Request Developers</b><br><br>

  <div *ngFor="let reqDev of requestDeveloper">
      {{ reqDev?.user.first_name }} {{ reqDev?.user.last_name }}
      <br>
  </div>

