
.background {
    
    background-size:cover;
    background-attachment:fixed;
    color: white;
    animation: animate 25s  infinite;  
     }
     @keyframes animate{
        0%{background-image:url('/assets/img/c.jpg');}
        25%{background-image:url('/assets/img/c.jpg');}
        25.1%{background-image:url('/assets/img/c.jpg');}
        50%{background-image:url('/assets/img/c.jpg');}
        50.1%{background-image:url('/assets/img/c.jpg');}
        75%{background-image:url('/assets/img/c.jpg');}
        75.1%{background-image:url('/assets/img/c.jpg');}
        100%{background-image:url('/assets/img/c.jpg');}
     }
    *{
      margin: 0px;
      padding: 0px;
    }
    .form-contro{
      background:transparent;
      border-radius: 5px;
      border: 4px;
      border-bottom: 3px solid #f44c89;
      margin-bottom:15px;
      margin-left:20px;
      font-size: 22px;
      color: white;
      
    }
    
    .drop-d{
      background: transparent;
      margin-left:20px;
      width:300px;
    }
    
    .label{
      font-size: 19px;
      color: white;
      font-weight: bold;
      margin-left:10px;
    }
    
    .btn-sign{
      background-color: #f44c89;
      margin-right:20px;
      margin-top:5px;
      width:100px;
      font-size:20px;
      color: white;
    }
    .btn-sign:hover{
      color:grey;
    }
    .btn-reg{
      background:#1a1aff;
      margin-left:25px;
      margin-top:5px;
      width:350px;
      font-size:20px;
      border:2px;
      color: black;
    }
    
    .btn-reg:hover{
      color:#8080ff;
    }