


<!--<div class="col-md-6 mx-auto">
    <table>

      <th>Bid details</th>
      <tr>
        <td>{{ bids?.maximum_value }}</td>
    </tr>
    <tr>
        <td>{{ bids?.start_date }}</td>
    </tr>
    <tr>
        <td>{{ bids?.end_date }}</td>
    </tr>
    <button (click) = "EditBid()">Edit the bid</button>
    </table><br><br>
  </div>


      <div class="container">
          <div class="row">   
            <div class="col-md-6 mt-5 mx-auto">
                <form (submit)="UpdateBid()">
                <label class="label control-label">Maximum bid value</label>
                <input type="text" class="form-control" name="max_value" placeholder="Maximum bid value" [(ngModel)]="credential.maximum_value">
                  <br>
                <button type="submit">Post the project</button>
                <br><br>
              </form>
            </div>
          </div>
        </div>
      -->

