<div class="background">
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <div class="row" style="margin-top: 100px;box-shadow: -1px 1px 25px 10px rgb(77, 47, 47);">
                <div class="col-md-12 ">
                
                  <ul>
                    <a  routerLink="" >Sign in</a>
                    <a routerLink="/userType"style="border-bottom: 4px solid #f44c89;padding 10px;" >/ Sign up</a>
                  </ul>
                 
                  <button class="btn btn-info " routerLink="/dev_register">I want to work</button>
                  
                  <button class="btn btn-info " routerLink="/cli_register">I want to hire</button>
                </div>
                
                <div class="col-md-6"><br><br><br><br><br><br></div>
              </div>
            </div>
            <div class="col-md-2"></div>
            
          </div>
        </div>