<div class="background">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="row" style="margin-top: 100px;box-shadow: -1px 1px 25px 10px rgb(77, 47, 47);">
            <div class="col-md-12 ">
            
              <ul>
                <a  routerLink="" >Sign in</a>
                <a routerLink="/userType"style="border-bottom: 4px solid #f44c89;padding 10px;" >/ Sign up</a>
              </ul>
             
              <div class="picMargin">
                  <div style="position: relative; left: 0; top: 0;">
                    <img src="assets/img/profile2.png" width="20%" height="20%" class="img1" />
                    <label><img src="assets/img/cam2.png" width="7%" height="35%" class="img2" />
                      <input type="file">
                    </label>
                  </div>
                </div>
            </div>
            
            <div class="col-md-6"></div>
          </div>
        </div>
        <div class="col-md-2"></div>
        
      </div>
    </div>